01. RESERVA_VUELO_SOAP_JAVA/02. CLICON/vuelos_consola/src/META-INF/wsdl/192.168.0.102_8080/Reservas_vuelos/WSVuelo.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><xs:schema xmlns:tns="http://controller.monster.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.monster.edu.ec/">

<xs:element name="boleto" type="tns:boleto"/>

<xs:element name="buscarVuelos" type="tns:buscarVuelos"/>

<xs:element name="buscarVuelosResponse" type="tns:buscarVuelosResponse"/>

<xs:element name="comprarBoletos" type="tns:comprarBoletos"/>

<xs:element name="comprarBoletosResponse" type="tns:comprarBoletosResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="mostrarBoletosUsuario" type="tns:mostrarBoletosUsuario"/>

<xs:element name="mostrarBoletosUsuarioResponse" type="tns:mostrarBoletosUsuarioResponse"/>

<xs:element name="mostrarTodosVuelos" type="tns:mostrarTodosVuelos"/>

<xs:element name="mostrarTodosVuelosResponse" type="tns:mostrarTodosVuelosResponse"/>

<xs:element name="obtenerIdUsuarioPorEmail" type="tns:obtenerIdUsuarioPorEmail"/>

<xs:element name="obtenerIdUsuarioPorEmailResponse" type="tns:obtenerIdUsuarioPorEmailResponse"/>

<xs:element name="registrarUsuario" type="tns:registrarUsuario"/>

<xs:element name="registrarUsuarioResponse" type="tns:registrarUsuarioResponse"/>

<xs:element name="vuelo" type="tns:vuelo"/>

<xs:complexType name="buscarVuelos">
<xs:sequence>
<xs:element name="ciudadOrigen" type="xs:string" minOccurs="0"/>
<xs:element name="ciudadDestino" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarVuelosResponse">
<xs:sequence>
<xs:element name="vuelo" type="tns:vuelo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="vuelo">
<xs:sequence>
<xs:element name="asientosDisponibles" type="xs:int"/>
<xs:element name="ciudadDestino" type="xs:string" minOccurs="0"/>
<xs:element name="ciudadOrigen" type="xs:string" minOccurs="0"/>
<xs:element name="horaSalida" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idVuelo" type="xs:int"/>
<xs:element name="valor" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprarBoletos">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="idVuelo" type="xs:int"/>
<xs:element name="numeroAsientos" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprarBoletosResponse">
<xs:sequence>
<xs:element name="estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarBoletosUsuario">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarBoletosUsuarioResponse">
<xs:sequence>
<xs:element name="boleto" type="tns:boleto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="boleto">
<xs:sequence>
<xs:element name="fechaCompra" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idBoleto" type="xs:int"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="idVuelo" type="xs:int"/>
<xs:element name="numeroAsiento" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerIdUsuarioPorEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="obtenerIdUsuarioPorEmailResponse">
<xs:sequence>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="acceso" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarTodosVuelos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="mostrarTodosVuelosResponse">
<xs:sequence>
<xs:element name="vuelo" type="tns:vuelo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarUsuario">
<xs:sequence>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="cedula" type="xs:string" minOccurs="0"/>
<xs:element name="celular" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarUsuarioResponse">
<xs:sequence>
<xs:element name="estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>